{
    "plugins": [
        [
            "babel-plugin-module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "@api": "./src/api",
                    "@assets": "./src/assets",
                    "@components": "./src/components",
                    "@css": "./src/assets/css",
                    "@hooks": "./src/hooks",
                    "@contexts": "./src/contexts",
                    "@reducers": "./src/reducers",
                    "@store": "./src/store",
                    "@utils": "./src/utils",
                }
            }
        ]
    ]
}