/* Screen common CSS */

/* Main Screen CSS */

/* Secondary Screen CSS */

.dpip-screen-this-stop-row {
  position: relative;
  width: 95%;
  height: 75%;
  left: 2%;
}

.this-stop-detail-zh-container {
  position: absolute;
  width: 100%;
  letter-spacing: -0.0625rem; 
  white-space: nowrap; 
}


.this-stop-detail-zh {
  font-size: 4.25cqw;
}

.this-stop-detail-en-container {
  position: absolute;
  top: 80%;
  width: 100%;
  letter-spacing: -0.0625rem;
  white-space: nowrap;
}

.this-stop-detail-en {
  font-size: 2em;
}

.dpip-screen-next-stop-row {
  position: relative;
  top: 1%;
  width: 87.5%;
  height: 90%;
  left: 2%;
  white-space: nowrap;
}

.next-stop-detail-zh {
  position: absolute;
  font-size: 3.25em;
  letter-spacing: -0.0375em;
}

.next-stop-detail-en {
  position: absolute;
  font-size: 1.5em;
  letter-spacing: -0.0375em;
  top: 66%;
  overflow: hidden;
}

/* Media Query */

@media screen and (max-width: 1920px) {

}

@media screen and (max-width: 1440px) {
 
}

@media screen and (max-width: 1280px) {
 
}

@media screen and (max-width: 1024px) {
 
}

@media screen and (max-width: 767px) {
  
}

@media screen and (max-width: 480px) {

} 