#root {
  /* margin: 0 auto; */
  padding: 2rem;
}

.query-section {
  width: 50%;
}


.button-handler-section {
  display: flex;
  gap: 1%;
  margin: 1em 0;
}


.dpip-monitors-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1%;
}

/* Screen common CSS */
.dpip-monitor-screen {
  position: relative;
  width: 50em;
  height: 30em;
  border: 1.25em solid #000000;
  border-radius: 1.5em;
  box-shadow: .5em 1em 2em .75em #535551;
}

.dpip-monitor-container {
  position: absolute;
  width: 100%;
  height: 100%;
  border: .5em solid #333331;
  z-index: -1;
}

/* Main Screen CSS */
.dpip-main-monitor-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../dpip-main-screen.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.dpip-main-route-section {
  position: relative;
  color: #FFFFFF;
  left: 30%;
  height: 15%;
  width: 95%;
}

.dpip-route-display {
  position: absolute;
  color: #FFFFFF;
  top: -.125em;
  left: 2em;
  font-size: 3em;
  letter-spacing: -.06125em;
}

.dpip-main-route-arrow{
  width: 8.5%;
  position: relative;
  left: 11.25rem;
  top: .5rem;
}

.dpip-main-dest-info {
  position: relative;
  left: 15.25rem;
  /* width: 35%; */
  height: 4em;
  top: -3.25rem;
}


.dpip-main-dest-info-zh {
  position: absolute;
  top: 3%;
  font-size: 1.75em;
  width: 80%;
}

.dpip-main-dest-info-en {
  position: absolute;
  top: 3em;
  font-size: .85em;
  letter-spacing: -.03125em;
}

.dpip-main-stop-detail-section {
  position: relative;
  height: 50%;
}

.dpip-main-this-stop-name {
  position: absolute;
  text-align: center;
  letter-spacing: -.03125em;
  font-weight: 400;
  top: 25%;
  width: 33%;
}

.dpip-main-stop-name-zh {
  font-size: 1.25rem;
  overflow: hidden;
}

.dpip-main-stop-name-en {
  font-size: .75rem;
  overflow: hidden;
  white-space: nowrap;
}

.dpip-main-next-stop-name {
  position: absolute;
  text-align: center;
  letter-spacing: -.03125rem;
  font-weight: 400;
  width: 33%;
  left: 33%;
  top: 25%;
}


.dpip-main-next-next-stop-name {
  position: absolute;
  text-align: center;
  letter-spacing: -.03125rem;
  font-weight: 400;
  width: 29.5%;
  left: 70%;
  top: 25%;
}


.dpip-main-this-stop-big-name-container{
  position: relative;
  height: 27.5%;
  margin: 0 auto;
  left: 0;
  right: 0;
  /* font-size: 4.5rem; */
  text-align: center;
  overflow: hidden;
}

.dpip-main-driver-section {
  position: absolute;
  top: 92.5%;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1em;
  font-weight: 400;
  color: #FFFFFF;
}

/* Secondary Screen CSS */
.dpip-secondary-monitor-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../dpip-secondary-screen.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.dpip-screen-this-stop-row {
  position: relative;
  width: 87.5%;
  height: 44%;
  left: 11%;
}

.this-stop-detail-zh-container {
  position: absolute;
  width: 100%;
  letter-spacing: -0.0625rem; 
  white-space: nowrap; 
}

.this-stop-detail-zh {
  font-size: 4.5em;
}

.this-stop-detail-en-container {
  position: absolute;
  top: 60%;
  width: 100%;
  letter-spacing: -0.0625rem;
  white-space: nowrap;
}

.this-stop-detail-en {
  font-size: 2em;
}

.dpip-screen-next-stop-row-1 {
  position: relative;
  top: 1%;
  width: 87.5%;
  height: 26%;
  left: 11%;
  white-space: nowrap;
}

.dpip-screen-next-stop-row-2 {
  position: relative;
  top: 3%;
  width: 87.5%;
  height: 26%;
  left: 11%;
  white-space: nowrap;
}

.next-stop-detail-zh {
  position: absolute;
  font-size: 3.25em;
  letter-spacing: -0.0375em;
}

.next-stop-detail-en {
  position: absolute;
  font-size: 1.5em;
  letter-spacing: -0.0375em;
  top: 66%;
  overflow: hidden;
}

/* Media Query */

@media screen and (max-width: 1920px) {
  .dpip-main-route-section{
    left: 30%;
  }

  .dpip-main-route-arrow{
  }

  .dpip-main-dest-info{ 
  }

  .dpip-main-dest-info-zh{
    /* font-size: 1.5rem; */
  }

  .dpip-main-this-stop-big-name{
    font-size: 5rem;
  }
}

@media screen and (max-width: 1440px) {
  .dpip-main-route-arrow{
    left: 14rem;
    top: 0.625rem;
  }
  .dpip-main-route-section{
    left: 30%;
  }
  .dpip-main-dest-info{
    left: 19rem;
    top: -4rem;
  }
  .dpip-main-dest-info-zh{
    font-size: 2.25rem;
  }
  .dpip-main-stop-name-zh{
    font-size: 1.25rem;
  }
  .dpip-main-stop-name-en{
    font-size: .75rem;
  }
  .dpip-main-this-stop-big-name{
    font-size: 6rem;
  }
  .dpip-monitor-screen{
    font-size: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .dpip-main-route-section{
    left: 30%;
  }
  .dpip-main-route-arrow{
    left: 11.5rem;
    top: 0.5rem;
  }
  .dpip-main-dest-info{
    left: 15.5rem;
    top: -3.25rem;
  }
  .dpip-main-dest-info-zh{
    font-size: 1.75rem;
  }
  .dpip-main-stop-name-zh{
    font-size: 1.25rem;
  }
  .dpip-main-stop-name-en{
    font-size: .75rem;
  }
  .dpip-main-this-stop-big-name{
    font-size: 4.5rem;
  }
  .dpip-monitor-screen{
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .dpip-main-route-section{
    left: 30%;
  }
  .dpip-main-route-arrow{
    left: 8.25rem;
    top: .375rem;
  }
  .dpip-main-dest-info{
    left: 11.25rem;
    top: -2.375rem;
  }
  .dpip-main-dest-info-zh{
    font-size: 1.25rem;
  }
  .dpip-main-stop-name-zh{
    font-size: 1rem;
  }
  .dpip-main-stop-name-en{
    font-size: .625rem;
  }
  .dpip-main-this-stop-big-name{
    font-size: 3.75rem;
  }
  .dpip-monitor-screen{
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .dpip-main-route-section{
    left: 30%;
  }
  .dpip-main-route-arrow{
    left: 7rem;
    top: .35rem;
  }
  .dpip-main-dest-info{
    left: 9.5rem;
    top: -2rem;
  }
  .dpip-main-dest-info-zh{
    font-size: 1rem;
  }
  .dpip-main-stop-name-zh{
    font-size: 0.75rem;
  }
  .dpip-main-stop-name-en{
    font-size: .5rem;
  }
  .dpip-main-this-stop-big-name{
    font-size: 3rem;
  }
  .dpip-monitor-screen{
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  .dpip-monitor-screen{
    font-size: 8px;
  }
  .dpip-main-this-stop-big-name{
    font-size: 3.5rem;
  }
} 