@import "tailwindcss";

@theme {
    --animate-bullet-pulse: bulletPulse 1.25s step-start infinite;
    --animate-heading-fade-in: headingFadeIn 0.45s ease-in-out;

    @keyframes headingFadeIn {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    @keyframes bulletPulse {  
        0%, 100% {
            outline: none;
        }

        50% {
            outline: .15cqw solid white;
            border: .15cqw solid #FF0000;
            background-color: yellow;
            scale: 1.5;
        }        
    }
}       
